/*
 * Estilos de tu proyecto
 */

 /*Establecemos estilos generales para todo le cuerpo de la página*/

 *{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }

body{
  font-family: 'Montserrat', sans-serif
}

.header{
  width: 100%;
  background-image: url(../assets/images/hero.gif);
  background-size: cover;
  height: inherit;
}


body .imgtotal{
  width: 100%;
  /*display: inline-block;*/
}


/*Para manjear el tamaño de la imagen de lyft*/
.imglogo{
  display: inline-block;
  width: 67px;
  height: 46px;
}

header{
  /*background-color: transparent;*/
  background-image: url(../assets/images/hero.gif);
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  font-weight: 700px;
  padding: 20px 150px 20px 80px;
  z-index: 1000;
  padding-top: 40px;
  padding-bottom: 40px;
}

/*Establecemos el tamaño de linea del nav del header*/
nav{
  line-height: 40px;
}

/*Flotamos la lista del menú hacia la derecha*/
header ul{
  float: right;
  font-size: 1.125rem;
  /*font-weight: bold;*/
}

/* Declaramos la lista del menú inline blok*/
header li{
  color: #fff;
  display: inline-block;
  margin-right: 35px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

 header li:hover{
  color: #ff00bf;
}
.liborderradius{
  border: 1px solid white;
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;
}

main{
  z-index: 800;
  width: 100%;
  height: 300px;
  margin-top: 0;
}

.boxwhite{
  display: inline-block;
  width: 30%;
  height: 500px;
  float: right;
  background-color: white;
  margin-right: 0 !important;
}

.firtssection{
  background-color: #642585;
  column-count: 2;
  column-gap: 10px;
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 50px;
  margin-bottom: 0;
  outline: 1px solid red;
  }

.colums{
  color: white;

}

.colums img{
  max-width: 100%;
}
.secondsection{
  position: relative;
  width: 100%;
  height: 120%;
  background: white;
  outline: 1px solid red;
}
.secondsection .box2{
  position: absolute;
  padding-top: 4%;
  margin-top: 1%;
  top: 0;
  padding-right: 4%;
  margin-left: 2%;
  width: 30%;
  height: 35%;
  color:black;
  /*outline: 1px solid red;*/
}
.box2 p{
  padding-top: 7%;
}
.box2 h2{
  font-size: 10px;
}
/*posicionando video*/
/*.secondsection iframe {*/
.video-one{
  display: inline-block;
  top: 20px;
  padding-top: 0;
  bottom: 80px;
  float: right;
}
/*Posicionando nuestra tercera section*/
.section3{
  position: relative;
  width: 100%;
  height: 120%;
  background: white;
  outline: 1px solid black;
  margin-right: 0.5%
  outline: 3px solid purple;
}
.section3 .box3{
 display: inline-block;
 bottom: 100px;
 width: 30%;
 height: 35%;
 color:black;
 padding-left: 5%;
 padding-top: 4%;
}
/*posicionando titulos y parrafos*/
.box3 p{
  padding-top: 4%;
}
.box3 h2{
  font-size: 10px;
}
.video-two{
  float: left;
  top: 0;
  outline: 1px solid BLACK;
}
.section4{
  position: relative;
  width: 100%;
  height: 120%;
  background: white;
  outline: 1px solid red;
}
.section4 .box4{
  position: absolute;
  padding-top: 4%;
  margin-top: 0;
  top: 0;
  padding-right: 4%;
  margin-left: 2%;
  width: 30%;
  height: 40%;
  color:black;
  /*outline: 1px solid red;*/
}
.box4 p{
  padding-top: 7%;
}
.box4 h2{
  font-size: 10px;
}
.video-three{
  display: inline-block;
  top: 0;
  padding-top: 0;
  bottom: 70px;
  float: right;
}
.footer {
  background-color: #333447;
  width: 100%;
  height: 545px;
  display: inline-block;
}
.footer a {
  text-decoration: none;
  color: #fff;
}
.footer a:hover {
  text-decoration: underline;
  color: #ff00bf;
}
.footer-list {
  overflow: auto;
}
.section5{
  float: left;
  line-height: 50px;
  margin-right: 130px;
  margin-top: 60px;
  margin-left: 100px;
}
.section5 h4{
  text-transform: uppercase;
  color:white;
}
.section5 ul img {
  list-style: none;
  width: 127px;
  height: 40px;
  margin-top: 36px;
}
.section5 ul{
  list-style: none;
}
.icons{
  display: block;
  clear: left;
  text-align: center;
}
/*dandole color y quitandole el color y subrayado propio*/
.icomoon {
  margin-top: 20px;
  color: #fff;
  list-style: none;
  display: inline-block;
}
/*a nuestro iconos los colocamos en una lista para poder moverlos  en conjunto y darles posicionamiento y tamaño con display:inline-block fácilmente */
.icomoon li {
  text-align: center;
  border: 1px solid #fff;
  display: inline-block;
  padding: 18px;
  height: 50px;
  width: 50px;
  margin-left: 20px;
  left: 50%;
  border-radius: 100px ;
}
/*le damos tamaño a la linea central y ubicamos al centro con margin left*/
.line hr{
  width: 45%;
  margin-top: 19px;
  margin-left: 26%;
}
/*con margin left posicionamos nuestro parrafo pie de página*/
.line p{
    margin-left: 43%;
    color: white;
}
